[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-git"]
	path = dotbot-git
	url = https://github.com/DrDynamic/dotbot-git.git
[submodule "config/bat/themes/catppuccin"]
	path = config/bat/themes/catppuccin
	url = https://github.com/catppuccin/bat.git
