[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-git"]
	path = dotbot-git
	url = https://github.com/DrDynamic/dotbot-git.git
[submodule "dotbot-if"]
	path = dotbot-if
	url = https://github.com/wonderbeyond/dotbot-if.git
